---
layout: "layout.njk"
---
 
<section>
    <body class="container">
        <div class="columns">
            <div class="column">
                <img src="assets/sun.png" class="image is-128sx128">
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h1 class="title is-size-5">Max Temp</h1>

                    <p id="card1" ></p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h1 class="title is-size-5">Max Wind</h1>

                    <p id="cardWind" ></p>
                </div>
            </div>

        </div>
</section>
<section >
    <div  class="container">
        <div id="weekcards" class="columns">
            <!--This area will be filled using Javascript-->
        </div>
        
    </div>
</section>


<br><br>