---
layout: "layout.njk"
---
<script src="./src/cityFocus.js"></script>
<!-- Javascript -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        
    const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const today = new Date();// javascript premade object that returns current day.
    const dayWeekNumber = today.getDay();// return a number  from 0 (Sunday) to 6 (Saturday)
    console.log(dayWeekNumber);

    const cityChoice ="amsterdam";

    const cityData = dotify.cityFocus.getCityObj(cityChoice);
    dotify.cityFocus.updateTitles(cityChoice);
    dotify.cityFocus.updateCardTemp(cityData.daily.temperature_2m_max[0]);
    dotify.cityFocus.updateCardWind(cityData.daily.wind_speed_10m_max[0]);
    dotify.cityFocus.updateSmallWeekCards(days, dayWeekNumber, cityData);
});

</script>

<!-- HTML code -->
<section>
    <body class="container">
        <div class="columns">
            <div class="column">
                <img src="assets/sun.png" class="image is-128sx128">
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h1 class="title is-size-5">Max Temp</h1>

                    <p id="card1" ></p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h1 class="title is-size-5">Max Wind</h1>

                    <p id="cardWind" ></p>
                </div>
            </div>

        </div>
</section>
<section >
    <div  class="container">
        <div id="weekcards" class="columns">
            <!--This area will be filled using Javascript-->
        </div>
        
    </div>

</section>
<br><br>
