---
layout: "layout.njk"
---
 
<section>
    <body class="container">
        <div class="columns">
            <div class="column">
                <img src="assets/sun.png" class="image is-128sx128">
            </div>
            <div class="column">
                <div class="box has-background-primary">
                    <h1 class="title is-size-5">Max Temp</h1>

                    <p id="card1" >Second column</p>
                </div>
            </div>
            <div class="column">
                <p class="box has-background-primary">Third column</p>
            </div>
            <div class="column">
                <p class="box has-background-primary">Fourth column</p>
            </div>
        </div>
</section>


<br><br>